

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .img-foto-header {
    animation: aparecer 2s ease-in-out;
  }
/**********TYPE TEXT*********/
.typedtext {  
    font-size: 1.3rem;
    font-weight: 600;
    color: black
}

.c-padre-header {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px;
    margin-top: 15rem;
    /*border: 2px solid black;*/

}

.c-hijo-header {
    width: 30rem;
    margin: 40px;
   /*border: 2px solid black;*/
}

.box-texto{
    /*border: 2px solid black;*/
    padding: 5px; /* Ajusta el espacio interno del borde según tus necesidades */
    
   
}

.p-perfil-header {
    /*border: 2px solid black;*/ 
     /* Ajusta el espacio interno del borde según tus necesidades */
    width: max(90%,250px);
    line-height: 1.8rem;
    font-size: clamp(15px,1.5vw,17px);
    margin-bottom: 30px;
    margin-top: 20px;
}


.img-foto-header {
    width: 23rem; 
    height: 23rem;
    background-color: rgb(87, 87, 87);
    padding: 1px;
    border-radius: 50%; 
    object-fit: cover; 
    box-shadow: 1px 1px 54px -14px rgba(0,0,0,0.71);
    -webkit-box-shadow: 1px 1px 54px -14px rgba(0,0,0,0.71);
    -moz-box-shadow: 1px 1px 54px -14px rgba(0,0,0,0.71);
   
}




.flex-container-redes-header {
    display: flex;
    flex-direction: column;
    flex-wrap: 10px;
    
}

.red {
    margin: 20px 30px 10px 1px;
    font-size: 16px;
    transition: transform 0.3s ease;
}

  .red:hover {
    transform: scale(1.2);
  }

.bsgithub {
    margin-right:50px;
}


.c-h1-header {
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 30px;
}

.btn {
    font-size: 20px;
    padding: 7px 17px;
    margin: 17px 17px 17px 0px;
    transition: transform 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}

.icono:hover {
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .c-padre-header {
        flex-direction: column-reverse;
        margin-top: 4rem;
        align-items: normal;
       
    }

    .c-hijo-header {
        width: 25rem;
        margin: 40px;
        /* border: 2px solid black; */
    }

    .c-h1-header {
        margin-bottom: 20px;
        margin-top: 1px;
    }

    .flex-container-redes-header {
        display: flex;
        flex-direction:row;
        flex-wrap: 10px;
        margin-left: 15%;
        justify-content: start;
        
    }
  

}